.M1 {
	background: url(cisco.jpg);
	background-size: cover;
	width: 30%;
	height: 160px;
	border: solid #0000ff;
	margin: 2px;
	padding: 2px; 
	float: left;
	font-size: 15px;
	align-items: center;
	text-align: left;
}

.M1:hover {
border: solid #ff0000;
} 

.ulp:hover {
	border:solid 1px black;
	border-radius: 10px;
	background-color: white;
}

h5 {
	text-align: center;
	background-color: white;
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 0px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

*{
	box-sizing: border-box;
}

.ligne {
	vertical-align: top;
	width: 70%;
	margin: auto;
}