.M1 {
	background: url(cisco.jpg);
	background-size: cover;
	width: 30%;
	height: 30vh;
	border: solid #0000ff;
	margin: 2px;
	padding: 2px; 
	float: left;
	font-size: x-large;
	align-items: center;
}

.M1:hover {
border: solid #ff0000;
} 

.ulp:hover {
	border:solid 1px black;
	border-radius: 10px;
	background-color: white;
}
h5 {
	text-align: center;
	background-color: white;
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 0px;
}

div {
	position: initial;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}