body {
	font-family: Verdala,Arial, sans-serif; 
}

td.principal {
vertical-align: top;
border: 3px inset blue;
text-align: center;
}

td.secondaire {
	vertical-align: top;
	padding: 10px;
}

#identite {
	position: relative;
	background-color: rgb(250, 234, 115);
	width: 60%;
	text-align: left;
	display: inline-block;
	padding-left: 15%;
	vertical-align: top;
}

table.principal{
	margin: auto;
	width: 70%;
}

img {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 60px;
	height: auto;
}

td>ol {
	text-align: left;

}

td>ul {
	text-align: center;
}

h3 {
	color: blue;
	text-align: center;
	vertical-align: top;
}

ol>li{
	font-weight: bold;
}

ol>li>ul{
	font-weight: normal;
}


