body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 20px;
}

.s1 {
    border: 2px solid blue;
    display: flex;
    justify-content: center; 
    padding: 15px;
}


.info-container {
    display: flex;
    gap: 20px; 
    background-color: #faea73;
    padding: 15px 25px;
}


.info-table {
    border-collapse: collapse;
}

.info-table td {
    padding: 8px 20px;
    font-size: 16px;
}

.info-table .label {
    text-align: right;
    font-weight: bold;
    width: 130px;
}

.info-table .value {
    text-align: left;
    font-style: italic;
    padding-left: 10px;
}

/* image */
.p1 {
    width: 70px;
    height: auto;
}




.s2s3 {
	display: flex;
	flex-wrap: wrap;
	border: 2px solid blue;
	margin-top: 10px;
}

.s2,
.s3 {
	flex: 1;
	min-width: 280px;
	border-right: 2px solid blue;
	padding: 15px;
}

.s3 {
	border-right: none;
}

h2 {
	text-align: center;
	color: blue;
	font-weight: bold;
	margin-bottom: 12px;
}


.s4 {
	font-weight: bold;
	border: 2px solid red;
	border-radius: 16px;
	margin-top: 10px;
	padding: 15px;
}

.ul1 {
	margin-top: 10px;
	padding-left: 25px;
}